*{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: blue;
    color: #fff;
    padding: 1rem .5rem;
  
}

.navbar-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.navbar .items{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar .logo{
    font-size: 1.5rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.bars{
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.column{
    margin: 0 1px;
}

ul{
    list-style-type: none;
}

ul li{
    margin: 0 5px;
}

.compare{
    background-color: red;
}

/*range slider styles*/
.slidecontainer {
    width: 90%; /* Width of the outside container */
    margin: .3rem auto;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: blue; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }